   body {
      background-color: #003366; 
      color: rgb(80, 28, 169);
      font-family: Arial, sans-serif;
    }

    .box {
      background-color: #add8e6; 
      width: 400px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 10px;
    }

    

    h1, h2 {
      text-align: center;
      color: #003366;
    }

    label, select, input, button {
      display: block;
      margin: 10px 0;
      width: 100%;
      font-size: 16px;
    }

    button {
      background-color: #003366;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .totals {
      margin-top: 20px;
      background-color: #003366;
      color: hsl(184, 21%, 87%);
      padding: 10px;
      border-radius: 5px;
    }

    ul {
list-style: none;
padding-left: 0;
    }

    li{
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    }

    li button{
      margin-left: 10px;
      background-color: tomato;
      color: white;
      border-radius: 3px;
      padding: 3px 6px;
      width:auto
      
    }